/* styles for trending.html */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f0f0f0; /* Light gray background for header */
    padding: 20px 0;
  }
  
  .logo {
    font-size: 2em; /* Set logo font size */
    margin: 0 10px; /* Add some margin for logo */
  }
  
  nav {
    text-align: center; /* Center navigation links */
  }
  
  nav ul {
    list-style: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding for list */
    margin: 0; /* Remove default margin for list */
  }
  
  nav li {
    display: inline-block; /* Display navigation links inline */
    margin: 0 10px; /* Add some margin between links */
  }
  
  nav a {
    text-decoration: none; /* Remove underline from links */
    color: black; /* Set link color */
  }
  
  main {
    padding: 20px; /* Add some padding for main content area */
  }
  
  section {
    margin-bottom: 20px; /* Add some space between sections */
    text-align: center;
  }
  
  #trendingBooksChart {
    width: 80%; /* Adjust width as needed */
    height: 40vh; /* Adjust height as needed */
    border: 1px solid #ddd; /* Add a thin border for the chart */
    margin: 0 auto; /* Center the chart horizontally */
  }